@charset "utf-8";
/* CSS Document */
html{padding:0px; margin:0px; height:100%; width:100%; background:url(bg.jpg); background-color:#e5f3fc;}
body{ padding:10px; height:100%; margin:0px; width:100%; font-family:Verdana, Arial, Helvetica, sans-serif; color:#006699; text-align:center; font-size:10px;}
img{padding:5px;}
p {padding:0px; margin:0px;}
h4{padding:2px; margin:0px;}
